body {
    background-image: url(image.jpg);
    background-size: cover;
}

h2 {
    color: rgb(194, 158, 158);
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}
p {
    color: rgb(92, 112, 45);
}
li {
    list-style: none;
    display: inline-block;
}